<!DOCTYPE html>
<html>
<head>
  <title>Biografija - Ana Đurić</title>
  <link rel="stylesheet" type="text/css" href="author.component.css">
</head>
<body>
  <div class="container">
    <h1>Ana Đurić</h1>
    <h3>Biografija</h3>
    <ul>
      <li><strong>Datum rođenja:</strong> 23.10.1999.</li>
      <li><strong>Adresa:</strong> Bulevar despota Stefana 5a, 21000 Novi Sad</li>
      <li><strong>Obrazovanje:</strong> Student osnovnih akademskih studija</li>
      <li><strong>Fakultet:</strong> Fakultet tehničkih nauka, Univerzitet u Novom Sadu</li>
      <li><strong>Studijski program:</strong> Inženjerski menadžment</li>
    </ul>
    <h3>Kontakt</h3>
    <ul>
      <li><strong>Email:</strong> djuricana33@gmail.com</li>
      <li><strong>Telefon:</strong> 0695364792</li>
    </ul>
  </div>
</body>
</html>

