<!DOCTYPE html>
<html>
<head>
  <title>O nama</title>
  <link rel="stylesheet" type="text/css" href="about.component.css">
</head>
<body>
  <div class="container">
    <h1>O nama</h1>
    <p>Dobrodošli na adresu svih bioskopa raspoloživih na teritoriji Novog Sada, mesto gde se susreću strast prema filmu i nezaboravna iskustva. Naša misija je da vam pružimo vrhunski filmski doživljaj kroz širok spektar filmskih žanrova i najnoviju tehnologiju.</p>

    <div class="team-member">
      <img src="https://as2.ftcdn.net/v2/jpg/02/01/19/07/1000_F_201190712_1fxYTqiaQLEo8rUAimPp8yASSpMv7zRy.jpg">
      <h3>Istorija bioskopa</h3>
      <p>Bioskopi su se razvili iz čuvene filmske industrije i postali su ključno mesto za prikazivanje filmova širom sveta. Njihova istorija počinje krajem 19. veka. Prva javna projekcija filma dogodila se 28. decembra 1895. godine, kada su braća Luj i August Lumiér prikazali svoj film "Izlazak radnika iz fabrike Lumière" u Parizu, Francuska. Ova projekcija smatra se početkom bioskopske industrije. U početku, bioskopi su bili jednostavni prostori sa nekoliko redova stolica i platnom za projekciju. Publika je mogla da uživa u kratkim filmovima, uglavnom nemim, koji su bili snimljeni na filmskoj traci.
        Tokom 20. veka, bioskopi su postali sve popularniji. Tehnološki napredak doveo je do uvođenja zvučnih filmova, a kasnije i uzbudljivih inovacija poput filmova u boji i širokog ekrana.
        Posle Drugog svetskog rata, bioskopi su doživeli svoj zlatni period, sa ogromnim brojem posetilaca koji su uživali u filmskim klasicima i holivudskim blokbasterima.
        U kasnijim godinama, sa razvojem kućnih medija poput televizije, videorekordera, DVD-a i striming platformi, bioskopi su se suočili sa novim izazovima. Međutim, industrija je odgovorila razvojem naprednih tehnologija poput digitalne projekcije, 3D i IMAX tehnologija kako bi privukla publiku i pružila im neponovljivo iskustvo.
        Danas, bioskopi su postali više od prostora za projekciju filmova. Oni su postali mesta gde ljudi mogu da se okupljaju, uživaju u udobnim sedištima, kvalitetnoj projekciji i zvuku, kao i raznovrsnoj ponudi hrane i pića.
        Iako se način na koji gledamo filmove promenio, bioskopi su ostali nezamenjivi kao mesta gde se filmovi dele i doživljavaju zajedno sa drugima.</p>
    </div>

    <div class="team-member">
      <img src="https://previews.123rf.com/images/kentoh/kentoh0910/kentoh091000145/5670167-movie-poster-of-film-genres-vintage-background.jpg">
      <h3>Raznovrsnost žanrova</h3>
      <p>Bioskopi su mesta koja pružaju širok spektar žanrova filmova kako bi zadovoljili raznolike ukuse publike. Od akcije, avanture i komedije do drame, naučne fantastike, horora i romantičnih filmova, bioskopi omogućavaju gledaocima da se urone u različite svetove, emocije i priče. Prikazivanje različitih žanrova filmova omogućava publici da izabere svoje omiljene vrste filmova, da dožive uzbuđenje akcije, smeh komedije, emocionalnu vezu drame ili da se prepuste mašti kroz naučnu fantastiku. Bioskopi su mesta koja spajaju ljubitelje filma i pružaju im nezaboravno iskustvo uživanja u raznovrsnosti filmske industrije.</p>
    </div>

    <div class="team-member">
      <img src="https://img.freepik.com/premium-vector/cartoon-people-movie-set-cinema-scene-shoot_82574-7853.jpg?w=900">
      <h3>Rad tima i osoblja</h3>
      <p>U bioskopima, tim i osoblje rade zajedno kako bi obezbedili kvalitetno iskustvo gledanja filmova. Menadžeri organizuju operacije, prodavci karata pružaju usluge kupovine karata, tehničko osoblje se brine o kvalitetu projekcije, a koncesijsko osoblje obezbeđuje hranu i piće.
        Osoblje se trudi da svaki posetilac bude dobrodošao, pružajući ljubaznu i profesionalnu uslugu, odgovarajući na pitanja i rešavajući eventualne probleme koji se mogu javiti.
        Zahvaljujući predanosti i radu tima i osoblja, bioskopi stvaraju atmosferu gostoprimstva i omogućavaju posetiocima da uživaju u magiji filma na najbolji mogući način.</p>
    </div>
  </div>
</body>
</html>
